@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #336600;
    margin: 0;
  padding: 0;
}

.container-navigation {
    background-color: #264d00;
    color: white;
    clear:both;
    overflow:auto;
}

.logo {
    float: left;
    padding: 10px;
}

#header {
    float: left;
    padding-left: 30px;
}

.nav {
    float: right;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size:20px;
    vertical-align:top;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-wales.jpg);
    height: 500px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 100%;
  }

  .hero-text {
    margin: auto;
  text-align: center;
  width: 40vw;
  padding: 5vw;
  color: white;
  }

  footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #264d00;
  }

  .footer-text {
    font-size:25px;
    padding-left:40px;
    float:left;
    color: white;
  }

  .fa-facebook, .fa-instagram {
      color: white;
      padding-right:40px;
      padding-top: 30px;
      float:right;
  }