@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #336600;
    margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container-navigation {
    background-color: #264d00;
    color: white;
    clear:both;
    overflow:hidden;
}

.logo {
    float: left;
    padding: 10px;
}

#header {
    float: left;
    padding-left: 30px;
}

.nav {
    float: right;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size:20px;
    vertical-align:top;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #99C2A5;
  }
  
.a {
  text-decoration: underline;
  color: #99C2A5;
}
  

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-wales.jpg);
    height: 500px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  width: 100%;
  }

  .hero-text {
    margin: auto;
  text-align: center;
  width: 40vw;
  padding: 5vw;
  color: white;
  }

 .intro {
    background-color: #DFF0E2;
    height: 250px;
    position: relative;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
  }

  .intro p {
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
  }

  footer {
    margin-top: 20px;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #264d00;
  }

  .footer-text {
    font-size:25px;
    padding-left:40px;
    float:left;
    color: white;
  }

  .fa-facebook, .fa-instagram {
      color: white;
      padding-right:40px;
      padding-top: 30px;
      float:right;
  }

  .fa-facebook:hover, .fa-instagram:hover {
    
      color: #99C2A5;
  
  }

  .mySlides {display: none}

img {
  height: 500px;
  vertical-align: middle;
  position: center;
  size: 100%;
  object-fit: cover;
}


/* Slideshow container */
.gallery {
  
  height: 500px; width: 70%; overflow: hidden;
  position: relative;
  margin: auto;
  border-radius: 5px;
}

/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: grey;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 80%;
  /* The width is the width of the web page */
  margin-left: 10%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width:100%;
  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  width:100%;
  padding-left: 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;

}

