/* Imported font using Gogogle Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #336600;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden; 
}

/* Navigation */
.container-navigation {
    background-color: #264d00;
    color: white;
    clear:both;
    overflow:hidden;
}

.logo {
    float: left;
    padding: 10px;
}

#header {
    float: left;
    padding-left: 30px;
}

.nav {
    float: right;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size:20px;
    vertical-align:top;
  }

  /* Styling the links */
  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #99C2A5;
  }
  
.link {
  border-bottom-style: solid;
  color: #99C2A5;
}
  
/* Hero Image Section */

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-wales.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    max-width: 100%;
    min-width: 300px;
    height: auto;
  }

  .hero-text {
  margin: auto;
  text-align: center;
  width: 40vw;
  padding: 5vw;
  color: white;
  }

  /* Introduction box */

 .intro {
    background-color: #DFF0E2;
    height: auto;
    position: relative;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
  }

  .intro p {
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
  }

  /* Footer */

  footer {
    margin-top: 20px;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #264d00;
  }

  .footer-text {
    font-size:25px;
    padding-left:40px;
    float:left;
    color: white;
  }

  /*  Social Media Icons */ 
  .fa-facebook, .fa-instagram {
      color: white;
      padding-right:40px;
      padding-top: 30px;
      float:right;
  }

  .fa-facebook:hover, .fa-instagram:hover {
    
      color: #99C2A5;
  
  }

/* Gallery Slideshow */
/* With support from W3 Schools tutorial */
/* https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */

.mySlides {display: none}

img {
  height: 500px;
  vertical-align: middle;
  object-fit: cover;
}

/* Slideshow container */
.gallery {
  
  height: 500px; width: 70%; overflow: hidden;
  position: relative;
  margin: auto;
  border-radius: 5px;
}

/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: grey;
}

/* Number text (1/6) */
.numbertext {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
}

/* Google Map API */
/* Support using documentation */
/* https://developers.google.com/maps/documentation */

#map {
  height: 400px;
  width: 80%;
  margin-left: 10%;
}

/* Expanded Text Section */
/* Support using the W3 Schools tutorial */
/* https://www.w3schools.com/howto/howto_js_collapsible.asp */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #3D6649;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 80%;
  border: 1px solid white;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-left: 10%;
}

/* Add a background color to the button if it is clicked on */
.active, .collapsible:hover {
  background-color: #99C2A5;
  color:black;
}

/* Style the expanded content content */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: 	#FAF9F6;
  color: black;
  width: 100%;
  border: black solid 1px;
  padding-left: 15%;
  padding-right: 15%;
  }

/* Media Queries */

/* Hides heading of site under certain width size */
  @media (max-width: 40em) {
    .hidden {
      display: none;
    }
  }

  /* Expand the width to full length when view in mobile */
  @media (max-width: 50em) {
    .gallery {
      width: 100%;
      border-radius: 0px;
    }
  }

  /* Expand the width to full length when view in mobile and to keep all content in the div box */
  @media (max-width: 50em) {
    .intro {
      width: 100%;
      height: auto;
      border-radius: 0px;
    }
  }

  /*  Ensure that background image stays in cover */
  @media (max-width: 50em) {
    .hero-image  {
      background-size: cover;
    }
  }

  /*  Increase size of hero text to stretch longer across the screen */
  @media (max-width: 50em) {
    .hero-text  {
      width: 80%;
    }
  }
  
  /* Expand the width to full length when view in mobile */
  @media (max-width: 50em) {
    .collapsible {
      height: auto;
      width: 100%;
      margin-left: 0px;
    }
  }

  /* Ensure that content stays in box */
  @media (max-width: 50em) {
    .content {
      width: auto;
    }
  }

  /* Expand the width to full length when view in mobile */
  @media (max-width: 50em) {
    #map {
      margin-left: auto;
      width: auto;
    }
  }

  